.firstrow{
    background-color: rgb(133, 127, 255);
    display: flex;
    flex-direction: row;

}

body{
    
}
.secondrow{
     background-color: rgb(133, 127, 255);
    display: flex;
    flex-direction: row;  
    float: left; 

}
.thirdrow{
     background-color: rgb(133, 127, 255);
    display: flex;
    flex-direction: row;  
    float: left; }
.maindiv{
    float: left;
    text-align: center;
    vertical-align: auto;
    display: flex;
   background-image: url(https://tse2.mm.bing.net/th/id/OIP.CWzJibCjnb3lncLGCWSDaAHaFj?rs=1&pid=ImgDetMain&o=7&rm=3);
    background-attachment: fixed;
    
}
p{ margin-top: 0;
    background-color: rgb(226, 226, 133);
    border:4px solid;
    border-color: blue;
    font-family: 'Times New Roman', Times, serif;
}
button{
    background-color: #29af0b;
    color: antiquewhite;
    font-weight: bold;
    margin-left: 20px;
    padding: 15px;
    height: 60px;
    width: 100px;
    border-radius: 8px;
    font-size: large;
}
button:hover{
    cursor: pointer;
    background-color: wheat;
    color: blue;
}
.gift{
    background-color: rgb(43, 122, 226);   
    display: inline-block;
    width:100%;
}
h2{
    margin-left: 500px;
}
h1{
    animation-name: welcome1;
    animation-duration: 3s;
    animation-iteration-count: 4;
}
@keyframes welcome{
    from{transform: translateX(400%)}
}
@keyframes welcome1{
    100%{transform: rotateZ(360deg)}
}